/***************/
/**** fonts ****/
/***************/

@font-face {
    font-family: CourierPrime;
    src: url(/assets/fonts/Courier-Prime.ttf);
}

@font-face {
    font-family: CourierPrimeBold;
    src: url(/assets/fonts/Courier-Prime-Bold.ttf);
}

@font-face {
    font-family: CourierPrimeItalic;
    src: url(/assets/fonts/Courier-Prime-Italic.ttf);
}

@font-face {
    font-family: CourierPrimeBoldItalic;
    src: url(/assets/fonts/Courier-Prime-Bold-Italic.ttf);
}

/****************/
/**** colors ****/
/****************/

:root {
    --body-bg-color: #666699;
    --body-text-color: #e0e0eb;
    --header-color: #3d3d5c;
    --box-bg-color: #33334d;
    --font-standard: 1.1em;
}

/****************/
/**** global ****/
/****************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    font-family: CourierPrime, 'Courier New', Courier, monospace;
    font-size: var(--font-standard);
    color: var(--body-text-color);
}

a {
    color: var(--body-text-color);
    text-decoration: underline;
}

a:link,
a:visited,
a:active {
    color: var(--body-text-color);
}

a:hover {
    color: var(--body-text-color);
    text-decoration: none;
}

/****************/
/**** header ****/
/****************/

header {
    display: flex;
    background-color: var(--header-color);
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5%;
}

/****************/
/**** navbar ****/
/****************/

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-family: CourierPrime, 'Courier New', Courier, monospace;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -1px;
}

.nav-options li {
    display: inline-block;
    margin-left: 1.5em;
}

.navbar h1 {
    min-width: 20%;
    font-size: var(--font-standard);
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    display: block;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/**************/
/**** main ****/
/**************/

main {
    padding: 2em 5% 0 5%;
}

.box {
    box-shadow: 10px 10px black;
    margin: 0 10%;
    background-color: var(--box-bg-color);
    border: 1px solid black;
}

.box p {
    margin: 0.5em;
}

.box-header {
    border-bottom: 1px solid black;
    background-color: var(--header-color);
    padding: 0.5em;
}

/****************/
/**** footer ****/
/****************/

footer {
    text-align: center;
    padding: 2em 5%;
}

/************************/
/**** responsiveness ****/
/************************/
@media all and (max-width:640px) {
    .navbar {
        display: block;
    }

    .nav-options {
        align-items: left;
    }

    .nav-options li {
        display: inline-block;
        margin: 0.25em 1.5em 0 0;
    }

    .box {
        margin: 0;
    }
}

@media all and (max-width:900px) {

    .box {
        margin: 0 3%;
    }
}