/***************/
/**** fonts ****/
/***************/

@font-face {
    font-family: CourierPrime;
    src: url(/assets/fonts/Courier-Prime.ttf);
}

@font-face {
    font-family: CourierPrimeBold;
    src: url(/assets/fonts/Courier-Prime-Bold.ttf);
}

@font-face {
    font-family: CourierPrimeItalic;
    src: url(/assets/fonts/Courier-Prime-Italic.ttf);
}

@font-face {
    font-family: CourierPrimeBoldItalic;
    src: url(/assets/fonts/Courier-Prime-Bold-Italic.ttf);
}

/****************/
/**** colors ****/
/****************/

:root {
    --deep-rose: #4d1932;
    --lightest-gold: #e0e0eb;
    --dark-crimson: #270c19;
    --font-standard: 1.1em;
}

/****************/
/**** global ****/
/****************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--deep-rose);
    font-family: CourierPrime, 'Courier New', Courier, monospace;
    font-size: var(--font-standard);
    color: var(--lightest-gold);
}

a {
    color: var(--lightest-gold);
    text-decoration: underline;
}

a:link,
a:visited,
a:active {
    color: var(--lightest-gold);
}

a:hover {
    color: var(--lightest-gold);
    text-decoration: none;
}

/****************/
/**** header ****/
/****************/

header {
    display: flex;
    background-color: var(--dark-crimson);
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 5%;
}

/****************/
/**** navbar ****/
/****************/

.navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    font-family: CourierPrime, 'Courier New', Courier, monospace;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-options li {
    display: inline-block;
    margin-left: 1.5em;
}

.navbar h1 {
    min-width: 20%;
    font-size: var(--font-standard);
}

.navbar ul {
    list-style-type: none;
}

.navbar a {
    display: block;
    text-decoration: none;
}

.navbar a:hover {
    text-decoration: underline;
}

/**************/
/**** main ****/
/**************/

main {
    padding: 0em 5%;
}

/****************/
/**** footer ****/
/****************/

footer {
    padding: 0em 5%;
}

/************************/
/**** responsiveness ****/
/************************/
@media all and (max-width:575px) {
    .navbar {
        display: block;
    }

    .nav-options {
        align-items: left;
    }

    .nav-options li {
        display: inline-block;
        margin: 0.25em 1.5em 0 0;
    }
}